# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Environment variables file
.env

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Docker
*.env.*

# Others
coverage/
htmlcov/
